@import url("../main.css");

/* CONTAINER PRINCIPAL */
.sidebar-psicologo {
    width: 100%;
    min-height: 100vh;
    background-color: var(--white-400);
    padding: 1rem 2rem 2rem 2rem;
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    border-radius: 2rem;
}

/* CONSULTAS */
.container-consultas {
    width: 100%;
    background-color: var(--white-50);
    border-radius: 1.8rem;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

/* HEADER */
.header-consultas {
    width: 100%;
    background-color: var(--primary-orange-700);
    padding: 1rem 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-consultas h2 {
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--black-700);
    text-align: center;
}

/* TOPO CONSULTAS */
.acoes-consultas {
    width: 100%;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
}

.confirmar-todos {
    display: flex;
    align-items: center;
    gap: 1rem;
    cursor: pointer;
}

.confirmar-todos p {
    font-size: 1rem;
    font-weight: 500;
}

/* CHECKBOX */
.confirmar-todos input,
.checkbox-consulta input {
    display: none;
}

.checkbox-custom {
    width: 2rem;
    height: 2rem;
    min-width: 2rem;
    border-radius: 8px;
    background-color: var(--white-50);
    border: 2px solid var(--white-700);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.5rem;
    color: transparent;
    transition: 0.2s ease;
}

.confirmar-todos input:checked + .checkbox-custom,
.checkbox-consulta input:checked + .checkbox-custom {
    background-color: var(--green-default-100);
    color: var(--white-50);
    border: none;
}

/* LISTA */
.lista-consultas {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: 0rem 1rem 1rem 1rem;
}

.card-consulta {
    width: 100%;
    background-color: var(--secondary-cream-700);
    border-radius: 1.5rem;
    padding: 1rem;
    display: flex;
    align-items: center;
    gap: 1.2rem;
    transition: 0.2s ease;
}

.card-consulta:hover {
    transform: translateY(-2px);
}

/* CHECKBOX CARD */
.checkbox-consulta {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

/* INFOS */
.infos-consulta {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
}

.infos-consulta h3 {
    font-size: 1.2rem;
    font-weight: 700;
    line-height: 1.2;
}

.infos-consulta p,
.infos-consulta span {
    font-size: 1.2rem;
    line-height: 1.2;
}

/* BOTÃO SETA */
.btn-ver-consulta {
    border: none;
    background: transparent;
    font-size: 2.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: 0.2s ease;
    rotate: -45deg;
}

.btn-ver-consulta:hover {
    transform: translateX(5px);
}

/* AÇÕES */
.acoes-sidebar {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}


.sidebar-paciente {
    width: 100%;
    background: var(--white-600);
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 14px;
    border-radius: 10px;
}

/* ========================= */
/* CONSULTA */
/* ========================= */

.container-proxima-consulta {
    display: flex;
    border-radius: 10px;
    overflow: hidden;
    background: var(--white-50);
    min-height: 110px;
}

.container-dia {
    padding: 16px 14px;
    background: var(--primary-orange-700);
    color: var(--black-700);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: 700;
}

.container-dia p {
    font-size: 1.6rem;
}

.container-dia span {
    font-size: 1rem;
}

.container-consulta-info {
    flex: 1;
    padding: 16px 14px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.container-consulta-info h4 {
    font-size: 1rem;
    line-height: 1.8;
}

.status-consulta {
    align-self: flex-end;
    background: var(--tertiary-light-green-700);
    padding: 7px 14px;
    border-radius: 20px;
    font-size: 0.9rem;
    font-weight: 600;
}

/* ========================= */
/* AUTOAVALIAÇÃO */
/* ========================= */

.container-autoavaliacao {
    background: var(--white-50);
    padding: 14px;
    border-radius: 10px;
}

.container-autoavaliacao h3 {
    margin-bottom: 14px;
    font-size: 1.2rem;
    font-weight: 500;
}

.container-buttons {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 8px;
    margin-bottom: 22px;
}

.container-buttons button {
    height: 48px;
    border: none;
    background: #ececec;
    border-radius: 6px;
    cursor: pointer;
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-buttons button:nth-child(1) svg {
    color: #7bc55b;
}

.container-buttons button:nth-child(2) svg {
    color: #d3a229;
}

.container-buttons button:nth-child(3) svg {
    color: #dc9437;
}

.container-buttons button:nth-child(4) svg {
    color: #e05d5d;
}

.container-buttons button:nth-child(5) svg {
    color: #c53b2f;
}

/* ========================= */
/* ATIVIDADES */
/* ========================= */

.container-atividades {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 20px;
}

.ativ {
    border: none;
    background: var(--tertiary-light-green-700);
    padding: 8px 12px;
    border-radius: 999px;
    display: flex;
    align-items: center;
    gap: 6px;
    cursor: pointer;
    font-size: 0.9rem;
}

.ativ svg {
    font-size: 1rem;
}

/* ========================= */
/* BOTÕES */
/* ========================= */

.button-confirm {
    margin-left: auto;
}

.acoes-sidebar {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.button-sidebar {
    width: 100%;
    padding: 14px;
    border-radius: 8px;
    text-align: center;
    text-decoration: none;
    font-weight: 600;
}

.config-btn {
    background: #9ad57f;
    color: black;
}

/* RESPONSIVO */
@media (max-width: 768px) {
    .sidebar-paciente {
        max-width: 100%;
    }

    .container-buttons {
        grid-template-columns: repeat(5, 1fr);
    }

    .container-autoavaliacao h3 {
        font-size: 1.2rem;
    }

    .ativ {
        font-size: 0.8rem;
        padding: 7px 10px;
    }
}